name: Scala CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: zulu
        java-version: 11
    - name: import gpg
      env:
        PGP_SECRET: ${{ secrets.gpg_key_priv }}
        PGP_PUBLIC: ${{ secrets.gpg_key_pub }}
      run: scripts/import-gpg.sh

    - name: Run tests
      run: sbt test
